{% extends "base.html" %}
{% block title %}
  Contact Us
{% endblock %}

{% block body %}

<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>CONTACT US</b></h4>
				{# <p>JUST TAKE A LOOK & CONTACT US</p> #}
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->

  <br>
<div class="container">


<div class=" col-md-6">
  <form class="" action="." method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group">
      <input class="btn btn-primary"  type="submit" name="" value="  Send  ">
    </div>

  </form>
</div>


<div class="col-md-6 contact-info text">
<table>
  <tr>

    <td><h3> <b>Email:</b> geomappersconsult@yahoo.com </h3></td>
  </tr>
  <tr>
    <td> <h3> <b> Phone:</b> 0505986578/ 0208774401/ 0244540554</h3> </td>
  </tr>

  <tr><td> <h3> <b>Address:</b>Geo Mappers Consult</h3>
    <tr><td> <h3> P.O Box KN 4652,</h3></td></tr>
    <tr><td> <h3> Kaneshie, Accra</h3>
    </td>
  </tr>



  <tr>
    <td><h3> <em> www.geomappersconsult.com</em></h3>
    </td>
  </tr>


</table>
</div>
</div>


<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Providing World CLass Surveying, Mapping, Planning and GIS Services</h4>

      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><! -- r wrap -->
{% endblock %}
