{% extends "base.html" %}
{% load static %}



{% block body %}
<div id="blue">
  <div class="container">
    <div class="row  myfontsize">
      <div class="col-lg-8 col-lg-offset-2">
      <h4>LEARN MORE ABOUT US</h4>

      <div class="myfontsize">
      <p> Geo Mappers Consult has been established as a Surveying, Geographic Information System and Mapping company in Ghana’s capital city Accra, in the Greater Accra Region.
        Our focus is based on using innovative and appropriate technologies in surveying and geographic information systems to provide clients with professional outputs.
         The combined experience of personnel spans more than a decade. A vast number of projects have been undertaken in the areas of Surveying, Geographic Information System, Land Use Planning and Local Plan Preparation,  Provision of Base Maps as well as providing various support in Street Naming and Property Addressing.
      </div>

          <p><b>Company Strategy</b></p>
          <p><b>Purpose:</b> To be a major player in the survey and mapping industry by providing enhanced services, relationship and profitability.</p>
          <p><b>Vision:</b> To provide quality services that exceeds the expectations of our esteemed customers.</p>
          <p><b>Mission statement:</b> To build long term relationships with our customers and clients and provide exceptional customer services by pursuing business through innovation and advanced technology.</p>
      </p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  bluewrap -->









<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Providing World CLass Surveying, Mapping, Planning and GIS Services</h4>

      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><! -- r wrap -->

{% endblock %}
