{% extends "base.html" %}

{% block title %}
  Geomappers Consult
{% endblock %}

{% block body %}

<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12 col-lg-offset-2">
      <h1> Surveying<b>.</b>Mapping<b>.</b>Planning</h1>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- headerwrap -->







	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>Providing World CLass Surveying, Mapping, Planning  and GIS Services</h4>

			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="assets/img/munter.png" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->





	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<!-- <h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
					<p>We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p> -->
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->

{% endblock %}
