{% extends "base.html" %}
{% load static %}


{% block body %}


<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>OUR EXPERTISE</b></h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row ">
			<br><br>
			<div class="col-lg-4">
				<div class="centered">
					<i class="glyphicon glyphicon-map-marker"></i>
					<h4>SURVEY AND MAPPING</h4>
				</div>

				<div class="myfontsize">

				<p>We offer survery and mapping services using state of the art and appropriate technologies. </p>
				<p>Our services include: </p>
				<ul>
				  <li>Aerial Control Surveys</li>
				  <li>Boundary Surveys</li>
				  <li>Cadastral surveying</li>
				  <li>Topographic Surveys</li>
				  <li>Location Surveys</li>
				  <li>Land Title Surveys</li>
				  <li>GPS Control</li>
				  <li>GIS Mapping</li>
				  <li>Minor and Major Subdivisions</li>
				  <li>Route Surveys</li>
				</ul>
			</div><!-- col-lg-4 -->
			</div>


			<div class="col-lg-4">
				<div class="centered">
					<i class="glyphicon glyphicon-globe "></i>
					<h4>SPATIAL PLANNING</h4>
				</div>

				<div class="myfontsize">



				<p>We offer planning services to support decision making accross various sectors</p>
				<p>Our services include:</p>

					<li>Preparation of local plans</li>
					<li>Spatial analysis</li>
					<li>Preparation of maps for District Medium Term Development Plans</li>
					<li>Street Naming and Property Addressing</li>
					<li>Base map production</li>
					<li>Digitization of streetlines</li>
					<li>Property numbering</li>
				</div>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4 ">
				<div class="centered">
					<i class="fa fa-cogs"></i>
					<h4>WEB DEVELOPMENT</h4>
				</div>
				<div class="myfontsize">


				<p>We build turn-key information systems for various fields including planning, real-estate management,
				public health and safety among others.

				Our products span from plugins in QGIS to full fledged desktop and web applications
				using the latest technologies.</p>
				</div>
			</div><!-- col-lg-4 -->


		</div><!-- row -->
		<br>
	</div><!-- container -->


	<!-- PRICING SECTION -->




	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Providing World CLass GIS services for planning and decision making</h4>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><! -- r wrap -->


	{% endblock %}
